<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/script.js"></script>
</head>

<body>
{{>navbar}}

{{>header}}

  <section>
    {{errorCode}}
    <br>
    <b>"{{noPage}}"</b> is not available
    <br>
  </section>
  <p></p>
{{>footer}}
</body>

</html>