<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="icon" href="/img/icon.ico">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/script.js"></script>
</head>

<body>
  {{>navbar}}

  {{>header}}

  <div class="maincontent">
    <section>
      This is me
      <br>
      <img class="portrait" src="/img/pic.png" alt="hello">
    </section>
    <p></p>

  </div>

  {{>footer}}

</body>

</html>