  <nav>
    <a href="/">Home</a>
    <a href="/weather">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    <img src="/img/icon.png" alt="weather image" style="width:50px">
  </nav>